body{
    margin: 0;
    direction: rtl;
       
}
header{
    background: url(../images/slide-amount-2.jpg);
    background-repeat: no-repeat;
    height: 600px;
position: relative;
}
header ul li{
    display: inline-block;
    list-style-type: none;
    margin-right: 20px;
    
}
header .menu ul a {
    text-decoration: none;
    color: #fff;
}
header ul li:hover{
    color: #f7ac34;
}
.menu{
    float: right;
    padding-right: 300px;
}
.reg{
    float: left;
    padding-left: 100px;
}
.reg #signin{
    color: #ffffff;
    background: #ef582b;
    text-align: center;
    padding: 10px;
    border-radius:35px;
    border: solid 1.2px #f7ac34; 
padding-left: 25px;
    
}
.reg #signin :hover{
    color: #f7ac34;
}
.reg #login{
    text-align: center;
    background:transparent;
    color:#fff;
     padding: 10px;
    border-radius: 35px;
    border: solid 1.2px #fff;
    padding-left: 25px;

    
        
}
.reg #login a{
    background: #fff;
    color: #f7ac34;
}
.reg #en{
    color: #fff;
    background: #f7ac34;
    border: solid 1.2px #f7ac34; 
    border-radius: 35px;
    text-align: center;
    line-height: 1.7;
    display: inline-block;
    text-align: center;
    padding-left: 10px;

    

    
}
.reg #en li:hover{
    color: #fff;
    border-bottom: solid 1px #fff;
}
.cont{
    position: absolute;
    right: 200px;
    top: 200px;
    
    
}
.cont h5{
    color:#f7ac34;
    font-size:30px;
    margin-bottom:8px
    
}
.cont h2{
    font-size: 50px;
    margin-bottom: 12px;
}
.cont p{
    font-size:20px;
    color: #fff;
    font-weight: 700;
    margin-top:0px;
}
.tap{

  position: absolute;
    right: 150px;
     bottom: 30px; 
    left: 30px;
    background: #fff;
    
    padding: 15px 150px 15px 70px;
    margin-left:200px
 
} .tap i{
    font-size: 10px;
}
.tap a{
    text-decoration: none;
    color: #000;
    background: transparent;
    padding: 5px 5px 5px 28px;
    border: solid 0.5px #000;
    margin-right: 20px;
}
.tap a:last-of-type{
    color: #fff;
    background: #f7ac34;
    border:solid 1px #eee;
    border-radius: 3px;
    padding:5px 20px 5px 20px;
    text-align: center;
    margin-right: 40px;
}
.tap input[name="g"]{
    margin-right:20px;
}
.socila{
    position: fixed;
    left: 0px;
    top: 90px;
  padding:  5px 5px 0 3px;
    background: #fff;
    
}
.socila a{
    text-decoration: ;
    color: #000;
    display: block;
    margin-top: 3px;
}
.box{
position: absolute;
right: 90px;
    bottom: 200px;
}
.box .slides,.box .slides1,.box .slides2,.box .slides3,.box .slides4,.box .slides5{
    background:transparent;
      height: 8px;
    width: 8px;
    border: solid 0.5px #fff;
    margin-bottom:5px;
}
.back1{
background: url(../images/slide-amount-33-1.jpg);
background-repeat: no-repeat;
height: 600px;
position: relative;
}
.back2{
 background: url(../images/slide-amount-4.jpg);
background-repeat: no-repeat;
height: 600px;
position: relative;   
}
.back3{
    background: url(../images/slide-amount-5.jpg);
background-repeat: no-repeat;
height: 600px;
position: relative;   
    
}
.back4{
    background: url(../images/slide-amount.jpg);
background-repeat: no-repeat;
height: 600px;
position: relative;   
}


.clearfix{
    clear: both;
}
